.ham_container {
    /* position: relative; */
    transition: all 0.3s ease;

    display: flex;
    flex-direction: column;
    /* outline: 2px solid rgb(234, 10, 10); */
}

.menu {
    position: absolute;
    top: -290px;

    right: 0px;
    width: 100%;
    height: 220px;
    /* border: 2px solid rgb(0, 0, 0); */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.751);
    backdrop-filter: blur(5px);
    transform: translateY(390px);
    transition: transform 0.2s ease-out;
    display: hidden;
    z-index: 9999;
    box-shadow: 0 2px 0 rgba(171, 170, 170, 0.881);


}

.menu.open {
    transform: translateY(39px);
    display: block;
}

.menu_items {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 10px;
    row-gap: 20px;

}

.menu_items>span {
    /* border: 2px solid grey; */
    font-size: larger;
    display: inline-block;
    position: relative;
padding-bottom: 4px;    

}


.menu_items>span::after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    background-color: black;
    
}

.menu_items>span:hover::after {
    transform: scaleX(0.3);
    transform: bottom right; 
    
}



.toggle_icons {
    background-color: transparent;
    border: 2px solid transparent;
    width: auto;
    padding: 4px 4px;
    display: flex;
    justify-content: end;
    /* border: 2px solid black; */
    cursor: pointer;
}

.icons {
    height: 20px;
    padding: 3px 3px;
    border-radius: 3px;
    border: 2px solid black;
}