.hero__body {
  margin-bottom: 100px;
  margin-top: 30px;
}

.heroContainer {
  /* outline: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  /* column-gap: 10px; */
  max-height: 100vh;
}
.heroLeft {
  text-align: left;
  width: 50%;
  padding-top: 100px;
  /* border: 2px solid black; */
}
h1 {
  font-size: 90px;
  font-weight: 500;
  margin-bottom: 20px;
}
.dev {
  font-weight: 400;
  color: rgb(96, 95, 95);
  margin-left: 7px;
}

.bio {
  margin: 20px 0;
  font-weight: 400;
  color: rgb(96, 95, 95);
  font-size: larger;
  margin-left: 7px;
  margin-bottom: 40px;
}

.social-parent {
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-left: 7px;
}
.socials {
  height: 25px;
  color: rgb(90, 78, 78);
}

.heroRight {
  /* outline: 2px solid red; */
  width: 50%;
  border-radius: 10px;
  padding-top: 50px;
}
.frontImg {
  width: 70%;
  height: 90%;
  border-radius: 50%;
  border: 2px solid rgb(173, 161, 161);
}

@media (max-width: 400px) {
  h1 {
    min-width: 100%;
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  h1 {
    min-width: 100%;
    font-size: 40px;
    text-align: center;
  }
  .bio {
    text-align: center;
  }
}
@media (max-width: 850px) {
  .heroContainer {
    /* outline: 2px solid blue; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }
  .heroLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heroLeft,
  .heroRight {
    width: 100%;
    padding-top: 0;
  }
}
@media screen and (min-width: 850px), (max-width: 1400px) {
  .heroRight {
    /* outline: 2px solid red; */
    width: 50%;
    border-radius: 10px;
    padding-top: 50px;
  }
  .frontImg {
    /* width: 80%; */
    max-width: 90%;
    min-width: 60%;
    max-height: 90%;
    border-radius: 50%;
    /* margin-left: 120px; */
    border: 2px solid rgb(173, 161, 161);
  }
}
@media (min-width: 1401px) {
  .heroRight {
    /* outline: 2px solid red; */
    max-width: 60%;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 60px;
    /* padding:10px 2px; */
  }
  .frontImg {
    max-width: 60%;
    min-height: 90%;
    border-radius: 50%;
    border: 2px solid rgb(173, 161, 161);
  }
  .heroLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 50%;
  }
}
